<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Global Leader Election</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div class="container">
      <h1>Global Leader Election</h1>
      <h2>Welcome to the Global Leader Election</h2>
      <p>Vote for your favorite candidate from different countries!</p>
      <img
        src="/images/front.jpeg"
        class="election-image"
        height="400"
        width="700"
      />

      <a href="/selectCandidate" class="vote-button"> Vote <span>🗳️</span> </a>
    </div>
  </body>
</html>
