<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thank You for Voting</title>
    <link rel="stylesheet" href="/css/thanku.css" />
  </head>
  <body>
    <div class="thank-you-container">
      <% if (!locals.hasVoted) { %>
        <div class="card">
          <h1>Thank You!</h1>
          <p>Your vote has been successfully recorded.</p>
          <p>We appreciate your participation in this election.</p>
          <a href="/" class="home-btn">← Go to Home</a>
        </div>
      <% } %> %>
      <% if (locals.hasVoted) { %>
        <div class="card">
          <h1>Already Voted</h2>
           <p>You have already cast your vote.</p>
           <p> Thank you for participating!</p>
           <a href="/" class="home-btn">← Go to Home</a>
         </div>
      <% } %>
     
      </div>
    
    </div>
  </body>
</html>
