body {
  font-family: Arial, sans-serif;
  background-color: #031d44;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.thank-you-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  background-color: #f2e8cf;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 500px;
  width: 100%;
}
.card h1 {
  color: #de5499;
  margin-bottom: 20px;
}
.card p {
  color: #264143;
  margin-bottom: 20px;
  font-size: 1.2em;
}
.confetti {
  margin: 20px 0;
}
.confetti img {
  width: 100%;
  max-width: 200px;
}
.home-btn {
  display: inline-block;
  padding: 15px 30px;
  border: none;
  background-color: #0077b6;
  color: #ffffff;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.home-btn:hover {
  background-color: #de5499;
}
